body {
    background-color: #737373;
    color: #f1f5f9;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h1, h2, h3 {
    color: #10b981;
}
header {
    background-color: #fde68a;
}